#metadata
.metadata/*
*.meta

#to big model files
checkpoint
graph.pbtxt
model.ckpt*
*.data*
*.index
*.mod

#to big text files:
ds.original.train.txt
ds.train.txt
interpolation_ds.train2.txt.npz

#
#domain_adaptation_models/input/*
#TensorflowFolder/*
#topic_experiments/input/*
#embedding_experiments/input/*

#to big lda files
*.mm
*.mm.index
*.state.sstats.npy
*expElogbeta.npy

#*.project

*.pyc

