#metadata
.metadata/*
*.meta

#to big model files
checkpoint
graph.pbtxt
model.ckpt*

#to big text files:
ds.original.train.txt
ds.train.txt

#to big lda files
*.mm
*.mm.index
*.state.sstats.npy
*expElogbeta.npy

#to big batch files
*batch_*.txt
*.data*

#*.project

*.pyc

