#metadata
.metadata/*
*.meta

#extra file eclipse
RemoteSystemsTempFiles/*

#to large files
optimizer_2-51753
num_layers_2-6635
optimizer_4-51753
optimizer_1-51753
optimizer_3-22559
optimizer_3-51753
num_layers_2-51753

#*.project

*.pyc

